
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'movie:movie_list' %}">Peliculas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'movie:actors_list' %}">Actores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'movie:genre_list' %}">Genero</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="btn btn-success" href="{% url 'movie:index' %}" >Vista Cliente</a>
          </li>
          {% endif %}
        </ul>
        
        <div class="d-flex mb-3 pl-5">
          <a class="btn btn-light" href="{% url 'movie:logout' %}">Cerrar sesion</a>
        </div>
        
      </div>
    </div>
  </nav>
{% include "movie/partials/styles.html" %}
