{% include "movie/partials/styles.html" %}

<div class="d-flex align-items-center py-4 bg-body-tertiary">
    <div class="form-signin w-100 m-auto">
        <div class="offset-3 col col-4 mt-5">
            <form action="{% url 'movie:user_login' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend><h2>Login</h2></legend>
                    {% if error_message %} <p>{{ error_message }}</p> {% endif %}
                    <label for="username">Usuario:</label>
                    <input class="form-control" type="text" name="username" id="username" />
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" name="password" id="password" />
                </fieldset>
                <input class="btn btn-primary" type="submit" value="Ingresar" />
            </form>
        </div>
    </div>
</div>