{% include "movie/partials/navbar-client.html" %}

<div class="container-fluid">
    <h1>Películas de {{ actor.name }}, {{actor.last_name}}</h1>
    <ul>
        {% for movie in movies %}
            <li>
                <h3>{{ movie.name }}</h3>
                <p>{{ movie.synopsis }}</p>
                <p>Año: {{ movie.year }}</p>
            </li>
        {% empty %}
            <li>No hay películas disponibles en este género.</li>
        {% endfor %}
    </ul>
    
    <a class="btn btn-secondary" href="{% url 'movie:index' %}">Volver</a>
</div>